<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>
          <div class="row">
            <div class="col-md-2">
              <label>First Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="firstName" />
                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="firstName.errors?.['required']">Field is required.</div>
                  <div *ngIf="firstName.errors?.['minlength']">Must be atleast 2 characters long.</div>
                  <div *ngIf="firstName.errors?.['notOnlyWhitespace']">Must not contain only whitespace.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>Last Name</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="lastName" />
                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="lastName.errors?.['minlength']">Must be atleast 2 characters long.</div>
                  <div *ngIf="lastName.errors?.['required']">Field is required.</div>
                  <div *ngIf="lastName.errors?.['notOnlyWhitespace']">Must not contain only whitespace.</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <label>E-mail</label>
            </div>
            <div class="col-md-9">
              <div class="input-space">
                <input type="text" formControlName="email"/>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                  <div *ngIf="firstName.errors?.['required']">Field is required.</div>
                  <div *ngIf="firstName.errors?.['pattern']">Invalid email address.</div>
                </div>
              </div>
            </div>
          </div>
          </div>

          <div formGroupName="shippingAddress" class="form-area">

            <h3>Shipping address</h3>

            <div class="row">
              <div class="col-md-2">
                <label>Country</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="country" (change)="getStates('shippingAddress')">
                    <option *ngFor="let country of countries" [ngValue]="country"> {{country.name}} </option>
                  </select>
                  <div *ngIf="shippingCountry.invalid && (shippingCountry.dirty || shippingCountry.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="shippingCountry.errors?.['required']">Field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label>Street</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="street" />
                  <div *ngIf="shippingStreet.invalid && (shippingStreet.dirty || shippingStreet.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="shippingStreet.errors?.['minlength']">Must be atleast 2 characters long.</div>
                    <div *ngIf="shippingStreet.errors?.['required']">Field is required.</div>
                    <div *ngIf="shippingStreet.errors?.['notOnlyWhitespace']">Must not contain only whitespace.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label>city</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="city" />
                  <div *ngIf="shippingCity.invalid && (shippingCity.dirty || shippingCity.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="shippingCity.errors?.['minlength']">Must be atleast 2 characters long.</div>
                    <div *ngIf="shippingCity.errors?.['required']">Field is required.</div>
                    <div *ngIf="shippingCity.errors?.['notOnlyWhitespace']">Must not contain only whitespace.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label>State</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="state">
                    <option *ngFor="let state of shippingStates" [ngValue]="state" (change)="getStates('shippingAddress')">
                      {{state.name}}
                    </option>
                  </select>
                  <div *ngIf="shippingState.invalid && (shippingState.dirty || shippingState.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="shippingState.errors?.['required']">Field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label>Zip Code</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="zipCode" />
                  <div *ngIf="shippingZipCode.invalid && (shippingZipCode.dirty || shippingZipCode.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="shippingZipCode.errors?.['minlength']">Must be atleast 2 characters long.</div>
                    <div *ngIf="shippingZipCode.errors?.['required']">Field is required.</div>
                    <div *ngIf="shippingZipCode.errors?.['notOnlyWhitespace']">Must not contain only whitespace.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="input-space">
            <label class="au-checkbox">
              <input type="checkbox" (change)="OnCopyShippingAddressToBillingAddress($event)">
              <span class="au-checkmark"></span>Billing Address same as Shipping Address
            </label>
          </div>

          <div formGroupName="billingAddress" class="form-area">

            <h3>Billing address</h3>

            <div class="row">
              <div class="col-md-2">
                <label>Country</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="country" (change)="getStates('billingAddress')">
                    <option *ngFor="let country of countries" [ngValue]="country"> {{country.name}} </option>
                  </select>
                  <div *ngIf="billingCountry.invalid && (billingCountry.dirty || billingCountry.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="billingCountry.errors?.['required']">Field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label>Street</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="street" />
                  <div *ngIf="billingStreet.invalid && (billingStreet.dirty || billingStreet.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="billingStreet.errors?.['minlength']">Must be atleast 2 characters long.</div>
                    <div *ngIf="billingStreet.errors?.['required']">Field is required.</div>
                    <div *ngIf="billingStreet.errors?.['notOnlyWhitespace']">Must not contain only whitespace.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label>city</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="city" />
                  <div *ngIf="billingCity.invalid && (billingCity.dirty || billingCity.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="billingCity.errors?.['minlength']">Must be atleast 2 characters long.</div>
                    <div *ngIf="billingCity.errors?.['required']">Field is required.</div>
                    <div *ngIf="billingCity.errors?.['notOnlyWhitespace']">Must not contain only whitespace.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label>State</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <select formControlName="state">
                    <option *ngFor="let state of billingStates" [ngValue]="state" (change)="getStates('billingAddress')">
                      {{state.name}}
                    </option>
                  </select>
                  <div *ngIf="billingState.invalid && (billingState.dirty || billingState.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="billingState.errors?.['required']">Field is required.</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <label>Zip Code</label>
              </div>
              <div class="col-md-9">
                <div class="input-space">
                  <input type="text" formControlName="zipCode" />
                  <div *ngIf="billingZipCode.invalid && (billingZipCode.dirty || billingZipCode.touched)" class="alert alert-danger mt-1">
                    <div *ngIf="billingZipCode.errors?.['minlength']">Must be atleast 2 characters long.</div>
                    <div *ngIf="billingZipCode.errors?.['required']">Field is required.</div>
                    <div *ngIf="billingZipCode.errors?.['notOnlyWhitespace']">Must not contain only whitespace.</div>
                  </div>
                </div>
              </div>
              </div>
          </div>

          <div formGroupName="creditCard" class="form-area">
            <h3>Credit or Debit Card</h3>
            <div id="card-element">

            </div>
            <div id="card-errors" class="displayError.textContent!=='': 'alert alert-danger mt-1'"></div>
          </div>

          <div class="form-area">
            <h3>Review your order</h3>

            <p>Total Quantity: {{ totalQuantity }}</p>
            <p>shipping: FREE</p>
            <p>Total Price: {{ totalPrice | currency: 'USD'}}</p>

          </div>

          <div class="text-center">
            <button class="btn btn-primary" type="submit" [disabled]="isDisabled">Purchase</button>
          </div>
      </form>
    </div>
  </div>
</div>
